<div id="announcement-box">
  <h2>Actualités</h2>
  <ul>
    <li>
      <h4>Bienvenue!</h4>
      <span>
        Notre site internet est en cours de développement. N'hésitez pas à 
        <a href ="mailto:essencediamant@gmail.com" target="_blank"> nous contacter </a>
        pour nous signaler toute amélioration potentielle.
      </span>
      <span>
        Pour être tenu informé des actualités du site (publications, articles, évènements) n’hésitez pas à rejoindre notre
        <%= link_to " liste de diffusion.", root_path(:anchor => "bottom") %>
      </span>
    </li>
    <li>
      <h4>Mahamudra et Approche Diamant</h4>
      <span>Date: du 2 au 9 septembre 2013</span>
      <span>Une retraite avec Sandra Maitri et Lama Palden (en Anglais) au Moulin de Chaves (Dordogne)</span>
      <span>
        Pour plus d'informations, cliquez 
        <a href="http://www.moulindechaves.org/sandra-maitri-lama-palden/" target="_blank"> ici.</a>
      </span>
    </li>
  </ul>
</div>