<div id="announcement-box">
  <h2>Actualités</h2>
  <ul>
    <li>
      <h4>Bienvenue!</h4>
      <span>Notre site internet est en cours de développement.</span>
    </li>
    <li>
      <h4>Quasar 2013 à Amsterdam</h4>
      <span>Date: du 17 au 23 mai 2013</span>
      <span>
        Les Quasars sont des retraites ouvertes à tous. Cet événement à lieu tous les deux ans en Europe et offre l'opportunité de pratiquer l'Approche Diamant en présence de Hameed Ali (A.H Almaas) et Karen Armstrong. 
      </span>
      <span>
        Pour plus d'informations, cliquez 
        <a href="http://www.ridhwan.org/event/quasar-vii-amsterdam/" target="_blank"> ici.</a>
      </span>
    </li>
    <li>
      <h4>Mahamudra et Approche Diamant</h4>
      <span>Date: du 2 au 9 septembre 2013</span>
      <span>Une retraite Mahamudra avec Sandra Maitri et Lama Palden (en Anglais) au Moulin de Chaves (France)</span>
      <span>
        Pour plus d'informations, cliquez 
        <a href="http://www.moulindechaves.org/sandra-maitri-lama-palden/" target="_blank"> ici.</a>
      </span>
    </li>
  </ul>
</div>