<div id="announcement-box">
  <h2>Actualités</h2>
  <ul>
    <li>
      <h4>Bienvenue!</h4>
      <span>
        Notre site internet est en cours de développement. N'hésitez pas à 
        <a href ="mailto:essencediamant@gmail.com" target="_blank"> nous contacter </a>
        pour nous signaler toute amélioration potentielle.
      </span>
      <span>
        Pour être tenu informé des actualités du site (publications, articles, évènements) n’hésitez pas à rejoindre notre
        <%= link_to " liste de diffusion.", root_path(:anchor => "bottom") %>
      </span>
    </li>
  </ul>
</div>