<% provide(:quote, '"The vague, metaphoric, or poetic ways of describing the process of rebirth often add more confusion than clarification. They are aesthetically appealing and often powerfully inspiring, but for a person who is thirsting - even dying - a beautiful way of describing the road that leads to the well is not as important as a clear, precise and succint way. Also, the precision has an aesthetic of its own, a clear and luminous beauty like the beauty of a precious diamond."') %>
<% provide(:copyright, '© 2013 DIAMOND APPROACH, RIDHWAN DIAMOND APPROACH, RIDHWAN, and the Ridhwan "Hu" symbol are registered trademarks of the Ridhwan Foundation.') %>
<div id="main">
	<section>
		<p>
			<strong>Welcome to the Essence Diamant France website!</strong>
		</p>		
		<p>
			We are a non-profit organization gathering students of the Diamond Approach and people interested in supporting the development of this teaching in the French language.
		</p>
		<p>
			Most of us are members of different European groups of the Ridhwan school. The rest of us are familiar with the Diamond Approach through books or past experience with groups. The idea of this organization stemmed from the wish to share this precious and life-changing teaching with our communities, our friends and family, who could not read the teachings in English or join existing groups in other countries. We thought it was time to give the francophone world access to the writings and prepare the ground for groups in France and French-speaking countries. It also made sense to those of us living in France to plant seeds for a Diamond Approach group based in France, as our sense is that it might become more difficult for teachers and students to travel long distances in the future, given the rapid planetary changes around climate and energy resources.
		</p>
		<p>
			Our three main objectives are :
			<ol>
          <li> 
          	<p>
        	    Translating and publishing books, through our publishing house, Adab Éditions. We would like to propose books of quality and a beautiful collection, as well as ebooks. Any profits generated from the sales of the first round of books will fund future translations and publications.
						</p>
          </li>
          <li>  
        	  Organizing workshops to be facilitated by Ridhwan teachers to present the Diamond Approach in France.
          </li>
          <li> 
        	  	Creating and maintaining this website, with texts in French, links and information about the Diamond Approach, as a first contact for those interested in the teachings. The website will provide the possibility of ordering books and ebooks online once they are available. 
          </li>
        </ol>
		</p>
    <p>
			All of our actions - website, publications and organization of events – are funded by donations. If you would like to support our actions, please contact us. There will soon be an opportunity to make donations on this site.
		</p>
		<p>
			<small>
				Note: Although we are primarily France based at the moment, we would like to invite and support people from other French-speaking areas (Belgium, Switzerland, Québec, …) interested in supporting the Diamond Approach in their community. 
			</small>
		</p>
		<p>
			<small>
				<em>
					Back to 
					<%= link_to " French Home Page", root_path %>
				</em>
			</small>
		</p>
	</section>
</div>