<div id="main">
	<section>
		<p>
			<strong>Welcome to the Essence Diamant France website !</strong>
		</p>		
		<p>
			We are a non-profit organization gathering students of the Diamond Approach and people interested in supporting the development of that teaching in the French language.
		</p>
		<p>
			Most of us are members of different european groups of the Ridhwan school. The rest of us are familiar with the Diamond Approach through books or past experience with groups. The idea of this organization stemmed from the wish to share with others, our communities, our friends and family, this teaching so valuable and life changing for us, which includes many people who can’t read in English or join existing groups in other countries. We also thought it was time to give the francophone world access to the writings and prepare the ground for groups in France and French-speaking countries (Belgium, Switzerland, Québec, French Caribeans, West Africa, …). It also made sense to those of us living in France, given the rapid planetary changes around climate and energy resources, to plant seeds for a French based Diaond Approach group,  as our sense is that it might become more difficult for teachers and students to travel long distances in the future.
		</p>
		<p>
			Our main three mediums of action are :
			<ol>
          <li> 
        	  Creating and maintaining this website, with texts in French and informations about the Diamond Approach, as a first contact for those interested.
          </li>
          <li> 
        	  Translating and publishing books, through our publishing house, Adab Éditions.
          </li>
          <li>  
        	  Inviting teachers to present the Diamond Approach in France, with simultaneous French translation when the teacher doesn’t speak French.
          </li>
        </ol>
		</p>
    <p>
			Although we are primarily France based at the moment, we would like to invite and support people from other French speaking areas interested in supporting the Diamond Approach in their community. This is not a Franco-French space, but a francophone one with an initial focus on France !
		</p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_donations">
		<input type="hidden" name="business" value="essencediamant@gmail.com">
		<input type="hidden" name="lc" value="US">
		<input type="hidden" name="item_name" value="Essence Diamant France">
		<input type="hidden" name="no_note" value="0">
		<input type="hidden" name="currency_code" value="USD">
		<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
		<p>
			<small>
				<em>
					Back to 
					<%= link_to " French Home Page", root_path %>
				</em>
			</small>
		</p>
	</section>
</div>