<div id="main">
	<section>
		<p>
			<strong>Welcome to the Essence Diamant France website.</strong>
		</p>		
		<p>
			We are a non-profit organization gathering students of the Diamond Approach and people interested in supporting the development of this teaching in the French language.
		</p>
		<p>
			Most of us are members of different European groups of the Ridhwan school. The rest of us are familiar with the Diamond Approach through books or past experience with groups. The idea of this organization stemmed from the wish to share this precious and life-changing teaching with our communities, our friends and family, who could not read the teachings in English or join existing groups in other countries. We also thought it was time to give the francophone world access to the writings and prepare the ground for groups in France and French-speaking countries. It also made sense to those of us living in France, given the rapid planetary changes around climate and energy resources, to plant seeds for a Diamond Approach group based in France,  as our sense is that it might become more difficult for teachers and students to travel long distances in the future.
		</p>
		<p>
			Our three main objectives are :
			<ol>
          <li> 
          	<p>
        	  	Creating and maintaining this website, with texts in French, links and information about the Diamond Approach, as a first contact for those interested in the teachings. The website will provide links to DA resources and the possibility of ordering books and ebooks online once they are available. The website would also maintain a contact page where people interested in being informed of further DA materials or activities could leave their contact, thus creating a network and sense of community around the Diamond Approach in France.
	        	</p>
	        	<p>
							The website will also offer an opportunity to support the publishing of the books through a donation button.
						</p>
          </li>
          <li> 
          	<p>
        	    Translating and publishing books, through our publishing house, Adab Éditions. We would like to propose books of quality, beautiful container of the teachings/beautiful collection… as well as ebooks.
        	  </p>
        	  <p>
							Any profits generated from the sales of the first round of books would fund future translations and publications.
						</p>
          </li>
          <li>  
        	  Inviting teachers to present the Diamond Approach in France, with simultaneous French translation when the teacher doesn’t speak French.
          </li>
        </ol>
		</p>
    <p>
			All our actions - website, publications and organization of events – are funded by donations. If you would like to support one of our actions, please contact us or offer your donation directly and simply here. 
		</p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_donations">
		<input type="hidden" name="business" value="essencediamant@gmail.com">
		<input type="hidden" name="lc" value="US">
		<input type="hidden" name="item_name" value="Essence Diamant France">
		<input type="hidden" name="no_note" value="0">
		<input type="hidden" name="currency_code" value="EUR">
		<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
		<p>
			Although we are primarily France based at the moment, we would like to invite and support people from other French-speaking areas (Belgium, Switzerland, Québec, French Caribbean, West Africa, …) interested in supporting the Diamond Approach in their community. This is not a Franco-French space, but a francophone one with an initial focus on France !
		</p>
		<p>
			<small>
				<em>
					Back to 
					<%= link_to " French Home Page", root_path %>
				</em>
			</small>
		</p>
	</section>
</div>