<div id="main">  
  <section>
    <div id="announcement-box"></div>
    <p>
      <strong>Essence Diamant France</strong> est une association à but non-lucratif, qui rassemble des étudiants de l’Approche Diamant et des personnes intéressées par l’Approche Diamant. Elle a pour mission de rendre accessible en français cet enseignement, au moyen de trois activités principales : 
        <ol>
          <li> 
        	  le développement de ce site internet, voulu comme un portail francophone sur l’Approche Diamant ; 
          </li>
          <li> 
        	  la traduction et la publication de livres et de textes concernant l’Approche Diamant ; 
          </li>
          <li>  
        	  l’organisation de journées de pratique et de retraites de l’Approche Diamant en France. 
          </li>
        </ol>
    </p>
    <p>
      Pour accéder au site officiel de A.H. Almaas (en anglais) : 
      <a href="http://ahalmaas.com/">www.ahalmaas.com</a>
    </p>
    <p>
      Pour accéder au site officiel de l’école Ridhwan (en anglais) :
      <a href="http://ridhwan.org/">www.ridhwan.org</a>
    </p>
    <p>
  	  Si vous voulez être tenus informés de nos activités et de l’actualité du site, vous pouvez vous inscrire à notre liste de diffusion.
    </p>
    <p>
  	  Si vous souhaitez soutenir nos actions ou financer une publication ou une rencontre, c’est ici.
    </p>

      Pour nous contacter : <a href ="mailto:essencediamant@gmail.com">essencediamant@gmail.com</a>
    </p>
  </section>
  <div class="section-separator"></div>
  <section>
    <h3>Qu’est-ce que l’Approche Diamant ?</h3>
    <p>
  	  L’approche diamant est une voie spirituelle contemporaine, développée par A.H. Almaas, qui s’est manifestée en réponse aux besoins de l’humanité d’aujourd’hui. Elle intègre des pratiques anciennes et des méthodes modernes, et rend la réalisation de soi accessible à un plus grand nombre de personnes intéressées par la redécouverte et l’intégration dans leur vie quotidienne de leur soi véritable, leur nature essentielle qui est ce que nous sommes authentiquement. Cette voie de développement spirituel diffère de la plupart des autres voies en cela qu’elle reconnaît l’unicité de chaque individu, et s’adapte aux besoins uniques de chaque personne à chaque instant. Ainsi, elle n’exige pas que l’on s’aligne avec un idéal donné, mais elle accepte au contraire chaque individu tel qu’il est, en l’aidant à identifier les étape successives naturelles à son développement unique. Elle utilise pour cela une méthodologie spécifique qui inclut des enseignements de groupe, des méditations et des exercices expérientiels, afin de permettre à chacun de reconnaître qu’il est un être humain entier et réel ayant accès à une existence libérée. 
    </p>
  </section>
  <section>
    <h3>L’investigation ouverte</h3>
    <p>
  	  La pratique centrale de ce travail dynamique de déploiement de l’âme est l’investigation ouverte de l’expérience personnelle (open inquiry). Progressivement et naturellement, ce processus révèle les obstacles inconscients à la réalisation de soi, lesquels sont uniques pour chaque étudiant. Avec l’aide d’un enseignant lors de sessions individuelles, et des enseignements de l’Approche Diamant lors de retraites et de sessions de travail en petits groupes ces barrières, ces obstacles, sont rendus pleinement conscients. L’étudiant peut alors mobiliser son potentiel le plus profond et le plus authentique : l’Essence. Avec le temps, cette Essence devient la source de la compréhension de soi et le guide autonome du cheminement de l’âme vers sa vraie nature. Le travail individuel et en groupe se poursuit au cours de plusieurs années, à travers plusieurs facettes et niveaux de développement.
    </p>
  </section>
  <section>
    <h3>L’école Ridhwan</h3>
    <p>
  	  La Fondation Ridhwan est l’organisation à but non-lucratif mise en place pour soutenir et préserver l’intégrité des enseignements de l’Approche Diamant. L’Approche Diamant est l’enseignement spirituel, la voie et la méthode de l’école Ridhwan.
    </p>
    <p>
		  L’école Ridhwan rassemble les groupes de pratique de l’Approche Diamant qui se sont formés depuis 1977 et ont des membres en Amérique du Nord, en Europe, en Australie, en Nouvelle Zélande et ailleurs. Elle est portée à l’attention du public grâce aux livres d’A.H. Almaas. 
    </p>
  </section>
  <section>
    <h3>A.H. Almaas</h3>
    <p>
  	  A.H. Almaas est le nom de plume de A. Hameed Ali. Hameed Ali est né au Koweït en 1944. À l’âge de 18 ans, il immigra aux États-Unis pour y poursuivre des études de physique à l’université de Berkeley, en Californie. Durant son travail de doctorat, il atteignit un tournant critique dans sa vie qui l’amena à questionner de plus en plus profondément les aspects psychologiques et spirituels de la nature humaine. Son intérêt pour la vérité de la nature humaine et la nature profonde de la réalité mena à la création et à l’émergence de l’Approche Diamant. 
    </p>
    <p>
      Pour plus d’informations (en anglais): 
      <a href="http://ahalmaas.com/">www.ahalmaas.com</a>
    </p>
  </section>
</div>