<div class="hero-unit">  
  <div class="center">
    <h1>Essence Diamant France</h1>
  </div>
  <p>
    Essence Diamant France est une association à but non-lucratif. Elle rassemble des étudiants de l’Approche Diamant et des personnes intéressées par l’Approche Diamant. Elle a pour mission de rendre accessible en français cet enseignement, au moyen de trois activités principales : 1) le développement de ce site internet, voulu comme un portail francophone sur l’Approche Diamant ; 2) la traduction et la publication de livres et de textes concernant l’Approche Diamant ; 3) l’organisation de journées de pratique et de retraites de l’Approche Diamant en France.
  </p>
  <p>
    Contact: <a href ="mailto:essencediamant@gmail.com">essencediamant@gmail.com</a>
  </p>
</div>