<div id="main"> 
  <section>
    <h2>Hameed l’enseignant</h2>
    <div class="interview-question">
      <span>
        <strong>
        Pourquoi avez-vous appelé votre enseignement L’Approche Diamant et non la Voie du Diamant ?
        </strong>
      </span>
      <p>
        Ça s’est fait comme ça. Au début, je n’avais aucune idée que mon travail deviendrait un enseignement à part entière. Je le voyais comme une approche particulière du travail intérieur, de la vérité, caractérisée par la précision, la clarté et l’objectivité de la conscience diamant (
        <a href="http://ahalmaas.com/glossary/diamond-consciousness/" target="_blank">diamond consciousness</a>
        ). Le nom est resté et je n’ai pas ressenti la nécessité de le changer. Une voie est une façon d’approcher la vérité, et par conséquent chaque voie est une approche. Et je trouve que le mot « approche » est approprié car l’investigation telle que nous la pratiquons dans le cadre de l’Approche Diamant peut être appliquée à n’importe quel champ d’étude, et pas seulement à celle de la conscience et de la nature vraie. L’Approche Diamant propose donc une approche de l’investigation de la vérité en général, dans tous les domaines.
      </p>
    </div>
    <div class="interview-question">
      <span>
        <strong>
          Vous dites souvent que ce qui motive les gens à faire ce travail est l’amour de la vérité. J’observe pour ma part que la majorité des étudiants de l’école Ridhwan cherchent à soulager la souffrance dans leur vie, à améliorer leurs relations, ou à atteindre un état idéal. Pouvez-vous commenter ?
        </strong
      </span>
      <p>
        Je ne dis pas que les gens font ce travail motivés par l’amour de la vérité. Je dis que c’est l’amour de la vérité qui rend ce travail efficace. Lorsque l’on s’engage dans ce travail parce que l’on veut soulager sa souffrance ou atteindre un idéal, le travail tend à être pris dans le principe plaisir/souffrance qui gouverne la vie de l’ego (
        <a href="http://ahalmaas.com/glossary/ego-life/" target="_blank">ego life</a>
        ), et par conséquent il ne peut pas être efficace lorsqu’il s’agit de dissoudre l’ego. Les étudiants entreprennent le travail principalement parcequ’ils veulent apaiser leur souffrance ou atteindre un objectif positif, mais ils doivent découvrir l’amour de la vérité également présent et dont il ne sont souvent pas conscients. Nous aimons intrinsèquement la vérité, mais cet amour est obscurci et recouvert au lieu d’être soutenu et nourri. Le travail soutient et nourrit cet amour. Il arrive un moment où les étudiants reconnaissent que seul un authentique amour désintéressé de la vérité révèle la vérité, particulièrement la vérité de notre nature. Le désir de soulager sa souffrance peut également permettre d’atteindre cette vérité, mais uniquement s’il provient d’une compassion désintéressée. Il est plus difficile de s’appuyer sur une compassion désintéressée car le désintéressement lui-même est difficile. Et elle peut plus facilement être prise dans le principe plaisir/souffrance. De plus, en mettant l’accent sur la souffrance, on s’oriente davantage vers le soi égoïque, tandis qu’en mettant l’accent sur l’amour, on s’oriente vers la vraie nature. Ce sur quoi on s’oriente à tendance à se développer davantage.
      </p>
    </div>
    <div class="interview-question">
      <span>
        <strong>
          Comment percevez-vous l’accueil fait à l’Approche Diamant dans le monde ?
        </strong>
      </span>
      <p>
        J’en suis très heureux. L’Approche Diamant a touché bien plus de gens que je ne l’avais espéré. Je pense qu’elle va continuer à toucher de plus en plus de personnes avec le temps, car plus il y a de gens qui prennent conscience de cet enseignement, plus ils semblent en apprécier la valeur. L’Approche Diamant a effectivement une valeur intrinsèque pour notre mode de vie actuel, et il sera intéressant de voir la valeur qu’on lui reconnaitra dans le futur. Je pense qu’il serait intéressant également que les milieux universitaires, académiques et intellectuels prennent davantage connaissance de ce travail, mais je ne sais pas si cela fait partie de sa destinée. Je pense que ce serait une bonne chose car une grande partie de ses perspectives et de ses concepts peuvent être utiles au développement général de la pensée et de la sagesse dans la culture dans son ensemble, et non pas simplement pour le travail spirituel. C’est l’une des raisons pour lesquelles j’ai écrit The Inner Journey Home, afin d’inscrire l’Approche Diamant dans une pensée et une culture occidentales.
      </p>
      <p>
        J’ai imaginé dès le début que certains concepts de l’Approche Diamant atteindraient les cercles plus larges des mouvements de conscience et de travail intérieur. Et c’est ce qui s’est passé. On peut s’en rendre compte à travers l’usage de plus en plus répandu des concepts
        <a href="http://ahalmaas.com/glossary/essence" target="_blank">d'essence</a>
        , de présence, ou de la dimension personnelle de notre vraie nature (<em>personalness</em>), … J’en suis heureux car je pense que cette influence peut avoir une utilité d’un autre ordre que l’enseignement direct. Et cela me réjouis car c’est ma fonction de communiquer l’Approche Diamant. Cela inclut tous ses concepts, ses perspectives et ses expériences.
      </p>
    </div>
    <div class="interview-question">
      <span>
        <strong>
          Quels livres avez-vous en prévision pour le futur ?
        </strong>
      </span>
      <ul>
        <li>L’Essence de l’Intelligence [<em>Brilliancy</em>, 2006]</li>
        <li>L’Essence de l’Amour [<em>The Power of Divine Eros</em>, 2013]</li>
        <li>Diamond Heart, Book V [<em>Inexhaustible Mystery</em>, 2011]</li>
        <li>The Loving Void [ non publié à ce jour]</li>
      </ul>
      <p>
        Et un livre qui sera issu de la retraite de l’été dernier, intitulée « une réalisation ouverte ». Ce sera un livre simple, court et accessible à un plus grand nombre de lecteurs [<em>The Unfolding Now</em>, 2008].
      </p>
    </div>
    <div class="interview-question">
      <span>
        <strong>
          En quoi la lecture de vos livres, en comparaison avec ce qui se passe lors des retraites ou du travail avec un enseignant individuel, aide-t-elle à cheminer vers la vérité?
        </strong>
      </span>
      <span>
        Les livres remplissent différentes fonctions :
      </span>
      <ul>
        <li>
          Pour les étudiants de l’Approche Diamant, ils permettent d’aborder de façon plus détaillée et plus complète les différents aspects du travail, sous un angle différent de celui de l’enseignement direct (
          <a href="http://ahalmaas.com/glossary/teaching" target="_blank">teaching</a>
          ).
        </li>
        <li>
          Ils peuvent être utiles aux étudiants d’autres voies, car l’Approche Diamant contient des pratiques et des façons de travailler sur soi qui sont très efficaces pour confronter les obstacles et les obscurations. Elle comprend une perspective nouvelle et unique sur les relations ente l’ego et la vraie nature, fondée sur un nouveau paradigme des qualités de la vraie nature. Ce paradigme des qualités spirituelles peut aider les étudiants de nombreuses voies car il offre un contexte pour comprendre leur expérience qui n’était pas disponible jusqu’à présent. Les livres examinent les aspects et les dimensions de la vraie nature avec une précision et une spécificité rarement rencontrées dans la littérature spirituelle, ce qui peut être utile à celles et ceux qui explorent une voie de développement intérieur, quelle que soit leur tradition particulière.
        </li>
        <li>
          Les livres contribuent à diffuser la connaissance, les compréhensions, et la sagesse spirituelles à l’humanité dans son ensemble. C’est une forme d’enseignement, pas aussi efficace qu’un enseignement personnel direct, mais qui peut néanmoins avoir un impact bénéfique sur l’éveil des consciences aux vérités profondes, et inspirer et encourager les gens à s’engager sur le chemin intérieur.
        </li>
        <li>
          Les livres peuvent contribuer à la connaissance de l’humanité en général, en transmettant de nouvelles formes d’apprentissage, de questionnement et d’investigation particulièrement efficaces.
        </li>
        <li>
          Ils remplissent également une fonction d’archives pour ce nouvel enseignement. C’est la responsabilité de tout chercheur de publier ses recherches et ses découvertes, et ce faisant d’enrichir et de compléter la littérature spirituelle de l’humanité.
        </li>
        <li>
          Les livres peuvent enfin avoir des fonctions dont je n’ai pas conscience moi-même. Je sais que c’est mon rôle de mettre l’Approche Diamant à disposition de l’humanité. J’en connais certains bénéfices, mais je ne prétend pas connaître toutes les possibilités de germination et toutes les conséquences de sa propagation. Il sera intéressant de voir, par exemple, quelles seront les conséquences à long terme de ce nouveau paradigme de l’essence spirituelle.
        </li>
      </ul> 
    </div>
    <div class="interview-question">
      <span>
        <strong>
          Est-il possible pour une personne de bien se développer spirituellement sans le recours à un enseignant ?
        </strong>
      </span>
      <p>
        C’est possible, il y a eu de tels exemples, mais c’est difficile, et souvent pas très efficace. L’étincelle doit d’abord être allumée. Ensuite, la grande majorité des gens n’ont pas suffisamment développé leur inspiration, leur connaissance, leur orientation, leur concentration, leur guidance et leur soutien intérieurs, leur endurance, et bien d’autres qualités nécessaires à une pratique efficace sur le chemin. Le voyage intérieur est bien plus riche et complexe que ce que la plupart d’entre nous le réalisons, et les obstacles personnels sont bien plus nombreux et importants que ce que nous le croyons ou voulons bien le croire. 
      </p>
    </div>
    <div class="interview-question">
      <span>
        <strong>
          Pourquoi d’après vous cet enseignement attire-t-il principalement une population « blanche » en Europe, en Australie et aux État-Unis ?
        </strong>
      </span>
      <p>
        Je ne sais pas trop. Il y a probablement des raisons historiques, démographiques et économiques. L’école s’est formée à partir de deux petits groupes rassemblant en majorité des personnes issues de ces communautés en raison des contacts que j’avais à l’époque. Je pense que cela a dû créer un précédent et que cela a pu rendre plus difficile aux autres groupes ethniques de s’insérer dans l’école, celle-ci étant déjà dominée une population blanche. Je pense que les personnes issues d’autres groupes ethniques qui font partie de l’école sont des individus habitués à être dans des groupes à dominance « blanche », et qui ne se sentent pas gênés ou menacés dans de tels environnements. J’espère que cette situation changera ; il faudra peut-être un effort particulier dans cette direction, et cela implique qu’il faudra que les personnes adéquates prennent cela en charge. 
      </p>
      <p>
        Bien entendu, l’autre facteur est économique. Le travail dans l’école se fait d’une façon qui requiert de la part des enseignants une présence et un investissement personnel intensifs, et il faut qu’ils puissent en vivre, leur rétributions provenant des frais d’inscriptions aux retraites. Cela fait que les retraites ont un coût, ce qui peut à son tour avoir un effet sur la démographie. C’est là encore un obstacle difficile à surmonter car il faut pouvoir permettre aux enseignant de vivre.
      </p>
      <p>
        Je ne pense qu’il y ait quoi que ce soit d’intrinsèque à l’Approche Diamant qui la rende plus recommandable à une communauté qu’à une autre. Ses principes sont universels et vrais pour tous les êtres humains. Mais il est néanmoins important de reconnaître que la majorité des écoles spirituelles en Occident, qu’elles soient  d’inspiration bouddhiste, indienne, soufie ou shamanique, sont également dominées par une population blanche. Le phénomène semble donc avoir une réalité sociale plus large. Je m’attends cependant à voir l’Approche Diamant se développer dans d’autres pays, notamment en Europe de l’Est, en Russie et au Japon. La question de la traduction des livres est bien entendu particulièrement importante ; certains livres sont déjà traduits en Espagnol et en Portugais [et depuis en Allemand, en Néerlandais, en Italien, et bientôt en Français…].
      </p>
    </div>
    <div class="interview-question">
      <span>
        <strong>
          Je trouve que vos livres sont intellectuellement éprouvants, et que l’enseignement est ésotérique. Pensez-vous que  cet enseignement touchera un jour le quêteur spirituel moyen ?
        </strong>
      </span>
      <p>
        Je pense que c’est déjà le cas dans une certaine mesure. Mon éditeur, Shambhala, veut publier un livre simple et court dans cet esprit, sur lequel nous travaillons en ce moment. Je ne me préoccupe pas beaucoup pour ma part du lecteur lorsque j’écris, puisque ma fonction est de révéler l’Approche Diamant indépendamment du public. J’ai aussi tendance à vouloir servir celles et ceux qui sont authentiquement intéressés par leur vraie nature, et ma perception est qu’il n’y a pas beaucoup de bons livres spirituels qui vont au-delà des généralités initiales, lesquelles deviennent souvent des platitudes et des clichés, tels que la non-dualité, la conscience transcendante, l’union avec Dieu, etc. Mais lorsque j’écris avec précision et spécificité, plutôt qu’en termes généraux, les livres commencent à prendre une tournure ésotérique et technique. Je ne suis pas opposé à ce que l’Approche Diamant touche un plus grand public, mais je ne sais pas si cela fait partie de sa destinée, et je m’en remet donc à la volonté de l’absolu.
      </p>
    </div>
    <div class="interview-question">
      <span>
        <strong>
          Quels ont vos espoirs pour l’avenir de cet enseignement ?
        </strong>
      </span>
      <p>
        Je ne sais pas ce qu’il est censé advenir de cet enseignement, je n’ai donc pas d’espoir particulier en ce qui le concerne. Je souhaite simplement qu’il devienne véritablement bénéfique, et qu’il ne soit pas utilisé à des fins égoïstes. J’espère également qu’il ne deviendra pas excessivement rigide et codifié afin qu’il continue à être une force de transformation vitale. Mais je crois que ce qui est réellement derrière cet enseignement est ce que j’appelle la guidance diamant (
        <a href="http://ahalmaas.com/glossary/diamond-guidance" target="_blank">Diamond Guidance</a>
        ) dont l’intelligence est infiniment supérieure à mon esprit individuel.
      </p>
    </div>
    <div class="interview-question">
      <span>
        <strong>
          Pourquoi vous fait-on confiance en tant qu’enseignant ? 
        </strong>
      </span>
      <p>
        Je ne sais pas si c’est le cas, ou à quel point on me fait confiance. Je pense que les étudiants doivent déterminer pour eux-mêmes si je suis digne de leur confiance, comme il doivent le faire pour tout enseignant et toute personne en général. La confiance se mérite. D’autre part, la confiance ne représente qu’une des qualités nécessaires à la relation entre un étudiant et son enseignant. L’étudiant doit aussi développer l’amour, le respect, l’ouverture, l’humilité, la gratitude et le service s’il veut être pleinement réceptif à l’enseignement d’un enseignant. Ces qualités sont en partie inspirées à l’étudiant par la stature, les attitudes et le comportement de l’enseignement.
      </p>
    </div>
    <div class="interview-question">
      <span>
        <strong>
          Pourquoi choisir et faire confiance à l’Approche Diamant comme voie spirituelle ? 
        </strong>
      </span>
      <p>
        Là encore, ce n’est pas une question de confiance. Il faut venir vérifier pour et par soi-même si l’Approche Diamant, ou tout autre enseignement qui nous attire, est adéquat, correspond à là où l’on en est et à notre sensibilité. Il faut ressentir une certaine harmonie avec l’enseignement, une adéquation, un appel, une forme de réceptivité. Cela doit parler non seulement à notre mental, mais aussi à notre cœur. Chaque personne est différente et résonnera plus ou moins, aura des résultats plus ou moins efficaces avec tel ou tel enseignement. Cela est dû au fait que chaque enseignement à sa propre dynamique interne, son logos ; il faut par conséquent découvrir pour soi-même si ce logos particulier parle à nos sensibilités intuitives.
      </p>
    </div>
    <div class="interview-question">
      <span>
        <strong>
          Quelles sont les changements que vous espérez observer chez les étudiant qui ont pratiqué l’Approche Diamant pendant deux ans ? Pendant dix ans ?
        </strong>
      </span>
      <p>
        Il est possible en deux ans de développer engagement (
        <a href="http://ahalmaas.com/glossary/commitment" target="_blank">commitment</a>
        ), inspiration et amour de la vérité. Il peut également y avoir un début de sagesse en reconnaissant qu’il s’agit d’une voie de mûrissement et de maturation, pas simplement orientée vers des expériences et des accomplissements, ce qui permet alors d’orienter la totalité de sa vie en faisant de cette voie une priorité centrale.
      </p>
      <p>
        En dix ans, beaucoup d’étudiants ont réalisé leur vraie nature à un degré ou à un autre, ou ont au minimum développé une grande familiarité avec la sphère essentielle. Leur vie est en grande partie organisée et structurée de façon à exprimer et à soutenir cette réalisation, et l’on devient capable d’exprimer certains des fruits de cette réalisation dans sa vie et dans ses relations avec les autres, et de contribuer à la société dans son ensemble à partir d’un endroit authentique.
      </p>
    </div>
    <span>
      <small><em>Propos recueillis par Bob Olson - automne 2003.</em></small>
    </span>
    <span>
      <small><em>Traduit de l’anglais par Kevin Dancelme.</em></small>
    </span>
    <span>
      <small>
        <em>Lien vers le texte original : 
          <a href=" http://ahalmaas.com/bio/hameed-the-teacher" target="_blank">www.ahalmaas.com/bio/hameed-the-teacher</a>
        </em>
      </small>
    </span>
  </section>
</div>