<% provide(:quote, '"The vague, metaphoric, or poetic ways of describing the process of rebirth often add more confusion than clarification. They are aesthetically appealing and often powerfully inspiring, but for a person who is thirsting - even dying - a beautiful way of describing the road that leads to the well is not as important as a clear, precise and succint way. Also, the precision has an aesthetic of its own, a clear and luminous beauty like the beauty of a precious diamond."') %>
<% provide(:footer, 'layouts/englishfooter') %>
<div id="main">
	<section>
		<h3>Thank you for subscribing.</h3>
		<p>
			We will send you updates as we continue to work towards our goal of bringing the Diamond Approach to France.
		</p>
  </section>
</div>