<div id="main">
	<section>
		<h3>Désolé...</h3>
		<p>
			Votre tentative d'inscription a échoué. Il se peut que vous ayez entré un adresse email incorrecte, ou que vous soyez déjà inscrit à notre liste.
		</p>
  </section>
</div>