<div id="main">
	<section>
		<h3>Merci.</h3>
		<p>
			Votre adresse a bien été ajoutée à notre liste d'information. Nous vous informerons dès que des nouvelles ressources sur l'Approche Diamant seront accessible en français.
		</p>
  </section>
</div>