/* mixins, variables, etc. */

$gray: #555;
$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;

/* universal */

html {
	overflow-y: scroll;
}

body {
	background: url(image_path('DAplanet.png')) fixed;
  color: #333333;
  font: 15px/22px Helvetica,Arial,Verdana,sans-serif;
  line-height: 20px;
  margin: 0;
  min-width: 1000px;
} 

address {
  margin-top: 15px;
  span {
    display: block;
  }
}

a {
  color: #0088CC;
  text-decoration: none;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

/* header */

#navbar {
  display: block;
  border-bottom: 2px solid #d8b74b;
  box-shadow: 0 3px 8px #333333;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, #383838 0%, #242424 100%) repeat scroll 0 0 transparent;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#383838), to(#242424));
  overflow: hidden;
}

#navbar-inner {
  margin: 0 auto;
  width: 940px;
  display: block;
  overflow: hidden;

}

#logo-image {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 25px;
  float: left;
}

#logo {
  float: left;
  margin-right: 25px;
  font-size: 1.3em;
  color: white;
  letter-spacing: -1px;
  padding-top: 27px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

#nav {
  display: block;
  margin: 0;
  height: 75px;
  float: left;
  border-left: 2px groove #1b1b1b;
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
    float: left;
    overflow: hidden;
    li {
      border-right: 2px groove #1b1b1b;
      padding-left: 10px;
      padding-right: 10px;
      min-height: 75px;
      float: left;
      a {
        top: 28px;
        position: relative;
        color: white;
        font-size: 1.2em;
      }
    }
  }
}

.strength {
  &:hover {
    background: linear-gradient(to bottom, #FF0000 0%, #1b1b1b 100%) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0000), to(#1b1b1b));
  }
}
        
.joy { 
  &:hover {
    background: linear-gradient(to bottom, #FFFF00 0%, #1b1b1b 100%) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFF00), to(#1b1b1b));
  }
}

.will {
  &:hover {
    background: linear-gradient(to bottom, #ffffff 0%, #1b1b1b 100%) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#1b1b1b));
  }
}
        
.compassion {
  &:hover {
    background: linear-gradient(to bottom, #00FF00 0%, #1b1b1b 100%) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00FF00), to(#1b1b1b));
  }
}
        
.clarity {
  &:hover {
    background: linear-gradient(to bottom, #303030 0%, #000000 100%) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#303030), to(#1b1b1b));
  }
}

/* quotebox */

#quote-box {
  box-shadow: 0 3px 8px #333333;
  background: none repeat scroll 0 0 #FFFFFF;
  opacity: 0.65;
  display: block;
  overflow: hidden;
  margin-bottom: 25px;
  .quote {
    padding-top: 5px;
    padding-left: 5px;
    margin: 0;
  }
  .author {
    float: right;
    padding-right: 5px;
    padding-bottom: 2px;
    margin: 0;
  }
}

/* main */

#main-wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 125px;
  &:before {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
  }
  &:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
  }
}

#main {
	background-color: white;
	padding: 15px 42px;
  box-shadow: 0 3px 8px #333333;
}

#announcement-box {
  float: right;
  width: 300px;
  background-color: #ffffff;
  border: 2px groove #000000;
  margin-bottom: 20px;
  margin-left: 10px;
  h2 {
    text-align: center;
  }
  ul {
    list-style: none outside none;
    padding-left: 25px;
    padding-right: 25px;
    li {
      h4 {
        margin-top: 25px;
        margin-bottom: 0;
      }
      span {
        margin-top: 5px;
        display: block;
      }
    }
  }
}

.section-separator {
  clear: both;
  width: 400px;
  padding: 1px;
  background-color: #333333;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* footer */

.footer {
  background: linear-gradient(to bottom, #383838 0%, #242424 100%) repeat scroll 0 0 transparent;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#383838), to(#242424));
  padding-top: 10px;
  display: block;
	margin-top: 45px;
	border-top: 2px solid #d8b74b;
	color: $grayLight;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

#footer-holder {
  margin: 0 auto;
  width: 940px;
  display: block;
}

#footer-col-holder { 
  width: 940px;
  overflow: hidden;
}

.footer-col {
  float: left;
  width: 313px;
  display: block;
  padding-bottom: 10px;
}

.footer-col-paragraph {
  p {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-right: 40px;
  }
}

.contact-header {
  margin-top: 0;
  margin-bottom: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  background: url(image_path('contact.png')) no-repeat scroll 0 3px transparent;
}

.subscribe-header {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  background: url(image_path('subscribe.png')) no-repeat scroll 0 5px transparent;
}

.follow-header {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 48px;
  background: url(image_path('follow.png')) no-repeat scroll 0 2px transparent;
}

#email-button {
  background: linear-gradient(to bottom, #00A0D7 0%, #0088CE 4%, #0051CF 96%, #00559B 100%) repeat scroll 0 0 transparent;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00A0D7), to(#00559B));
  border-radius: 3px 3px 3px 3px;
  padding: 6px 15px 6px;
  color: #ffffff;
}

#copy {
  p {
    font-size: 12px;
    line-height: 14px;
  }
}