/* mixins, variables, etc. */

$gray: #555;
$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;

/* universal */

html {
	overflow-y: scroll;
}

body {
	background: url(image_path('EDnebula.jpg')) fixed;
  padding-top: 125px;
  color: #333333;
  font: 15px/22px Helvetica,Arial,Verdana,sans-serif;
  line-height: 20px;
  margin: 0;
} 

a {
  color: #0088CC;
  text-decoration: none;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

/* header */

header {
  display: block;
}

#navbar {
  box-shadow: 0 3px 8px #333333;
  position: fixed;
  z-index: 2;
  overflow: visible;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, #333333 0%, #1b1b1b 100%) repeat scroll 0 0 transparent;
  /*background-color: #333333;*/
  /*background-color: #1b1b1b;*/
}

#navbar-inner {
  height: 75px;
  margin: 0 auto;
  width: 940px;
  display: block;
}

#logo {
  float: left;
  margin-right: 25px;
  font-size: 1.3em;
  color: white;
  letter-spacing: -1px;
  padding-top: 23px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

#nav {
  display: block;
  margin: 0;
  height: 75px;
  float: left;
  border-left: 2px groove #1b1b1b;
  ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
    float: left;
    li {
      border-right: 2px groove #1b1b1b;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 75px;
      float: left;
        a {
          top: 24px;
          position: relative;
          color: white;
          font-size: 1.2em;
        }
    }
  }
}
/*
.strength {
  &:hover {
    background: linear-gradient(to bottom, #FF0000 0%, #8B0000 100%) repeat scroll 0 0 transparent;
  }
}
        
.joy { 
  &:hover {
    background: linear-gradient(to bottom, #FFFF00 0%, #8B8B00 100%) repeat scroll 0 0 transparent;
  }
}

.will {
  &:hover {
    background: linear-gradient(to bottom, #ffffff 0%, #b8b8b8 100%) repeat scroll 0 0 transparent;
  }
}
        
.compassion {
  &:hover {
    background: linear-gradient(to bottom, #00FF00 0%, #008B00 100%) repeat scroll 0 0 transparent;
  }
}
        
.clarity {
  &:hover {
        background: linear-gradient(to bottom, #303030 0%, #000000 100%) repeat scroll 0 0 transparent;

  }
}*/

.strength {
  &:hover {
    background: linear-gradient(to bottom, #FF0000 0%, #1b1b1b 100%) repeat scroll 0 0 transparent;
  }
}
        
.joy { 
  &:hover {
    background: linear-gradient(to bottom, #FFFF00 0%, #1b1b1b 100%) repeat scroll 0 0 transparent;
  }
}

.will {
  &:hover {
    background: linear-gradient(to bottom, #ffffff 0%, #1b1b1b 100%) repeat scroll 0 0 transparent;
  }
}
        
.compassion {
  &:hover {
    background: linear-gradient(to bottom, #00FF00 0%, #1b1b1b 100%) repeat scroll 0 0 transparent;
  }
}
        
.clarity {
  &:hover {
        background: linear-gradient(to bottom, #303030 0%, #000000 100%) repeat scroll 0 0 transparent;

  }
}

#navbar-bottom-border {
  padding: 1px;
  background: linear-gradient(to bottom, #d8b74b 0%, #e5cf87 100%) repeat scroll 0 0 transparent;
}

/* quotebox */

#quotebox {
  box-shadow: 0 3px 8px #333333;
  background: none repeat scroll 0 0 #FFFFFF;
  opacity: 0.65;
  display: block;
  overflow: hidden;
  margin-bottom: 25px;
  .quote {
    padding-top: 5px;
    padding-left: 5px;
    margin: 0;
  }
  .author {
    float: right;
    padding-right: 5px;
    padding-bottom: 2px;
    margin: 0;
  }
}

/* main */

#main {
	background-color: white;
	padding: 15px 42px;
  box-shadow: 0 3px 8px #333333;
}

#title {

}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container:before, .container:after {
  clear: both;
  content: "";
  display: table;
  line-height: 0;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
	    margin-left: 10px;
		}
	}
}