<footer class="footer">
	<div id="footer-holder">
		<div id="footer-col-holder">
			<div class="footer-col">
				<h3 class="contact-header">Contact</h3>
				<a id="email-button" href="mailto:essencediamant@gmail.com">Email Us</a>
			</div>
			<div class="footer-col">
				<h3 class="subscribe-header">Subscribe</h3>
			</div>
			<div class="footer-col footer-col-paragraph">
				<h3 class="follow-header">Follow</h3>
				<p>Rejoignez la communauté Facebook d'Essence Diamant France:</p>
				<a href="https://facebook.com/EssenceDiamantFrance" target="_blank"><%= image_tag image_path('facebook-link.gif')%></a>
			</div>
		</div>
		<div id="copy">
	    <p>
		    Created with Ruby on Rails by
		    <a href="http://joepeloquin.com/" target="_blank">Joe Peloquin</a> 
		    • Contributor: Kevin Dancelme •
      </p>
      <p>
  	    © 2013 Ridhwan Foundation. Tous droits réservés.  APPROCHE DIAMANT (DIAMOND APPROACH), RIDHWAN et le symbole  "Hu" sont des marques déposées de la Fondation Ridhwan. 
      </p>
    </div>
  </div>
</footer>