<footer class="footer">
	<div id="footer-holder">
	  <small>
		  Created with Ruby on Rails by
		  <a href="http://joepeloquin.com/">Joe Peloquin</a> 
		  • Contributor: Kevin Dancelme •
    </small>
    <small>
  	  © 2013 Ridhwan Foundation. Tous droits réservés.  APPROCHE DIAMANT (DIAMOND APPROACH), RIDHWAN et le symbole  "Hu" sont des marques déposées de la Fondation Ridhwan. 
    </small>
  </div>
</footer>