<footer class="footer">
	<div id="footer-holder">
		<div id="footer-col-holder">
			<div class="footer-col">
				<h3 class="contact-header">Contact</h3>
				<span id="email-button">
					<a href="essencediamant@gmail.com">Email Us</a>
				</span>
			</div>
			<div class="footer-col">
				<h3 class="subscribe-header">Subscribe</h3>
			</div>
			<div class="footer-col">
				<h3 class="follow-header">Follow</h3>
			</div>
		</div>
		<div id="copy">
	    <small>
		    Created with Ruby on Rails by
		    <a href="http://joepeloquin.com/">Joe Peloquin</a> 
		    • Contributor: Kevin Dancelme •
      </small>
      <small>
  	    © 2013 Ridhwan Foundation. Tous droits réservés.  APPROCHE DIAMANT (DIAMOND APPROACH), RIDHWAN et le symbole  "Hu" sont des marques déposées de la Fondation Ridhwan. 
      </small>
    </div>
  </div>
</footer>