<header id="navbar">
  <div id="navbar-inner">
    <%= link_to "essence diamant france", root_path, id: "logo" %>
		<nav id="nav">
		  <ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Donate", '#' %></li>
				<li><%= link_to "Join", '#' %></li>
			</ul>
		</nav>
	</div>
	<div id="navbar-bottom-border"></div>
</header>