<div id="quotebox">
  <p class="quote">
  	<em>« Les façons vagues, métaphoriques ou poétiques de décrire le processus de renaissance spirituelle ajoutent souvent plus de confusion que de clarté. Elles peuvent avoir un attrait esthétique et nous inspirer, mais pour la personne assoiffée, voire agonisante, une façon raffinée de décrire le chemin qui mène au puits ne vaut pas tant qu’une description précise, claire et succincte. De plus, la précision elle-même radie une esthétique particulière, une beauté claire et lumineuse semblable à la beauté d’un précieux diamant. » </em>
  </p>
  <p class="author">
  	<strong>A.H. Almaas, <em>Essence</em></strong>
  </p>
</div>