<div id="quotebox">
  <p>
  	« Les façons vagues, métaphoriques ou poétiques de décrire le processus de renaissance spirituelle ajoutent souvent plus de confusion que de clarification. Elles peuvent avoir un attrait esthétique et être puissamment inspirantes, mais pour la personne assoiffée, voire agonisante, une élégante façon de décrire le chemin qui mène au puits ne vaut pas tant qu’une description précise, claire et succincte. De plus, la précision elle-même radie une esthétique  particulière, une beauté claire et lumineuse semblable à la beauté d’un précieux diamant. »
  </p>
  <p>
  	A.H. Almaas, Essence
  </p>
</div>